<!DOCTYPE html>
{%load static%}
{% load crispy_forms_tags %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ngonda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'users/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'users/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{%static 'users/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'users/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{%static 'users/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{%static 'users/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "users/css/main.css" %}' rel="stylesheet">

  <!-- =======================================================
  * Template Name: Tempo - v4.3.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1><a href="index.html"><img src= {%static 'users/assets/img/ngonga.jpg'%} class="logo" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">Presentation</a></li>
          <li><a class="nav-link scrollto" href="#services">Nos secteurs</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Galerie</a></li>
          <li><a class="nav-link scrollto" href="#team">L'equipe</a></li>
          <!-- <li><a href="blog.html">Blog</a></li> -->
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>Ngonda</strong></h3>
      <h1>Un problème une solution</h1>
      <h2>Ngonda est le Réseau des femmes Entrepreneur du cameroun</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Presentation</h2>
          <h3>Apprendre de <span> Ngonda </span></h3>
          <p>Jeune fille en langue Basaa,Ngonda est une communauté de jeunes femmes entrepreneur née et au cameroun.</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             Ngonda a pour Objectif de rendre la jeune fille Independante, accroitre sa Confiance en soi et permettre son developpement 
             etson epanouissement sur les plans physique, economique,etc...
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> ngonda a pour Objectif de rendre la jeune fille Independante</li>
              <li><i class="ri-check-double-line"></i> Accroitre sa Confiance en soi et permettre son developpement</li>
              <li><i class="ri-check-double-line"></i>Accroitre son epanouissement sur les plans physique, economique</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
               Ngonda a pour vision de favoriser et promouvoir l'entrepreneuriat feminin a travers la sensibilisation,des ateliers
               de formations, des Talks et bien d'autres. promouvoir vos activités , startup et entreprises par le biais des medias
               et influenceurs en contribuants par des actions et amplification des strategies de comunications.
            </p>
            <a href="#" class="btn-learn-more">En savoir plus</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Secteurs</h2>
          <h3>Nous avons plusieurs <span>Secteurs</span></h3>
          <p>Ngonda est constituée de plusieurs secteurs telque:l'Event,les projets,la communication,les agences et Traning.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Ngonda Agency</a></h4>
              <p class="description">Cest le secteurs de Ngonda constitué d'hotesses pour vos Evenements</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Ngonda Event</a></h4>
              <p class="description">cest le secteur de ngonda en charge des preparations d'evenements telque Femme leader</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Ngonda projets</a></h4>
              <p class="description">cest le secteur de ngonda en charge des projets des menbres</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Ngonda Traning</a></h4>
              <p class="description">cest le secteur de ngonda en charge des ateliers organisés pour les menbres </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          <h2>Etre Menbre</h2>
          <h3> Avantages a Etre <span>Membre</span></h3>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"> VOUS AVEZ DROIT A UNE CARTE DE MENBRE<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Vous avez droit a une carte de menbre qui vous donne la possibilité de participer gratutement ou avec des reductions aux atteliers de formation a savoir:
                developpement personnel, cosmetique, customisation, patisserie, transformation des fruits en jus,teinture, marketing digital.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">VOUS AVEZ ACCES AUX ENTREPRISES LIES AU RESEAU  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Accés aux entreprises alliées aux réseau pour des stages, et des formations complementaires
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">VOUS PARTICIPEZ GRATUITEMENT AUX BRAINSTORMINGS  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Vous participez gratuitement aux brainstorming ou on vous aides dans la structuration de vos projets
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">VOUS POUVEZ AUSSI ORGANISER VOS TALKS ET VOS FORMATIONS POUR VOUS PROMOUVOIR <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                vous avez accéss aux salles pour organiser vos talks et vos formations
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">LA PROMOTION GRATUITE SUR L'EMISSION RADIO DIGITAL VIBES  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                LA PROMOTION GRATUITE SUR L'EMISSION RADIO DIGITAL VIBES 
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">LE FINANCEMENT DES PROJETS <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->


    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" style="background-image: url({% static  'users/assets/img/cta-bg.jpg' % });">
        
        <div class="text-center">
          <h3>Devenir menbre</h3>
          <p> Vous pouvez aussi devenir une Ngonda, cette grande communauté vous accueillera chaleureusement avec des bras ouverts!! .</p>
          <a class="cta-btn" href="#">Devenir menbre </a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= galerie Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Galerie</h2>
          <h3>notre <span>Galerie</span></h3>
          <p>photos des membre de la communauté Ngonda pendant les seances de carrefours entrepreneurial.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-web">nos produits</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src= {%static 'users/assets/img/portfolio/portfolio-1.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 1</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              
            </div>
          </div> 

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src={%static 'users/assets/img/portfolio/portfolio-2.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 2</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
             
            </div>
          </div>

         

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src={%static 'users/assets/img/portfolio/portfolio-5.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 3</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
             
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src={%static 'users/assets/img/portfolio/portfolio-7.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 4</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src= {%static 'users/assets/img/portfolio/portfolio-2.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 5</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src={%static 'users/assets/img/portfolio/portfolio-1.jpg' %} class="img-fluid" alt="">
            <div class="portfolio-info">
              
              <p>photo 6</p>
              <a href="{%static 'users/assets/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title">
          <h2>Nos partenaires</h2>
          <h3> Partenaire de <span>Ngonda</span></h3>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-6 col-6">
            <div class="icon-box">
              <i class="ri-store-line" style = "color: #ffbb2c;"></i>
              <h3><a href="">Start-up</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">CF consulting</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Cibelle Cosmetic's</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">Prestige</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">TIOF</a></h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Level-up</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #db5111;"></i>
              <h3><a href="">Radio Vibe</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
              <i class="ri-price-tag-2-line" style="color: #4d3011;"></i>
              <h3><a href="">FAFE</a></h3>
            </div>
          </div>
        
        </div>

      </div>
    </section>  <!-- End Features Section  -->


    

    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>l'equipe</h2>
          <h3>l'equipe de <span>Ngonda</span></h3>
          <p>les femmes travailleuse a la tete du reseau Ngonda</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{%static 'users/assets/img/team/team-1.png' %}" class="img-fluid" alt="">
                <div class="social">
                
                  <a href="https://www.facebook.com/cibelleEssoumaOfficiel"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=237697051220"><i class="bi bi-whatsapp"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Cibelle ESSOUMA</h4>
                <span>fondatrice du Reséau</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{%static 'users/assets/img/team/tea-2.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/kouemou.ufea.motivation"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=237693805123"><i class="bi bi-whatsapp"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ufea KUEMOU</h4>
                <span>Presidente de Ngonda</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{%static 'users/assets/img/team/tea-3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100009622112172"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=237685110957"><i class="bi bi-whatsapp"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gigi MATIP</h4>
                <span>vice presidente</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{%static 'users/assets/img/team/tea-4.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=237693805123"><i class="bi bi-whatsapp"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Paola BIWOLE</h4>
                <span>Secretaire generale</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <h3>Contactez <span>Nous</span></h3>
          <p>Veuillez nous contacter pour tous vos soucis de comprehesions ou d'adhesion au réseau des femmes Entrepreneur Ngonda</p>
        </div>

       

       <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Tamtam, Station nepturne</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>ngonda@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+237 697 051 220</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            
              <form method="POST" , class="post-form">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->

                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" value="" maxlength="200"  id="id_name" class="form-control"  placeholder="Votre Nom">
                   
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" name="email" value="" maxlength="100"  id="id_email" class="form-control"  placeholder="Votre Email">
                   
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" type="text" name="message" value="" maxlength="500" required id="id_message"  placeholder="Message" ></textarea>
                  <!-- <label for="id_message">Message:</label><input type="text" name="message" value="" maxlength="500" required id="id_message"> -->
                  
                </div>
                
                
                



                <div class="text-center" style="margin-top: 30px;"><button type="submit" class="save btn btn-danger " >Envoyer</button></div>
                <!-- <button type="submit" class="save btn ">Envoyer</button> -->
              </form>

              </div>

            </div>
            
            {% if errors %}
              <div>
                {% for key, error in errors %}
                {% autoescape off %}
                  {{ errror }}
                {% endautoescape %}
                {% endfor %}

              </div>
            {% endif %}  
            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
            <!-- <form action="home.html" method="post"  class="php-email-form" >
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                 
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                 
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div> 
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message"  placeholder="Message" required></textarea>
                
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">votre message a étè envoyé. Merci!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form> -->

          </div>

        </div> 
        <!-- <form action=""  method="post" >
          {% csrf_token %}

          {{ form|crispy }}
          <div class="text-center"><button type="submit">Envoyer</button></div>
        </form> -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Ngonda</h3>
            <p>
              TamTam <br>
              Station nepture<br>

              <strong>Phone:</strong> +237 694 958 007<br>
              <strong>Email:</strong> ngonda@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Accueil</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Presentation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nos secteurs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">galerie</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">l'equipe</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Developpement personel</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"></a>Cosmetique</li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">developpement Web</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>rejoindre notre Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Ngonda</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://api.whatsapp.com/send?phone=237694958007">ValdeseDadjeu</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/101269768305983/posts/334029645029993/?app=fbl" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://api.whatsapp.com/send?phone=237693805123" class="linkedin"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'users/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'users/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'users/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'users/assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{%static 'users/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'users/assets/js/main.js'%}"></script>

</body>

</html>